.content{
    position: relative;
    float: left;
    width: 55%;
    padding-left:2%;
}

.label{
    position: relative;
    /* margin: 7% 0% 0% 5%; */
    margin: 8% 0% 0% 5%;
    color: black;
    width: 35%;
    float: left;
}


.input{
    position: relative;
    /* margin: 7% 0% 0% 0%; */
    margin: 8% 0% 0% 0%;
    overflow-x: hidden;
    padding: 0;
    width: 58%;
    height: 100%;
}

.input label{
    color: black;
    font-size: 17px;
}

.input_component{
    margin:0% 5% 5% 0%;
    padding: 1.2% 0% 0.5% 1.5%;
    width : 40%;
    font-size: 13px;
}

.join{
    width : 16.2%;
    margin-right: 2%;
}

.icon{
    margin-right: 2%;
}

label{
    margin-bottom: 2%;
}

.button_proses{
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 0.5% 5% 0.5% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0% 2% 0% 7%; 
    transition-duration: 0.4s;
    border-radius: 25% 100% 100% 25%;
    border: 2px solid #555555;
    height: 26px;
    font-size: 15px;
    cursor: pointer;
}

.button_proses:hover {
    background-color: #f44336;
    color: white;
    cursor: not-allowed;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .hoverketerangan:hover .tooltiptext {
    visibility: visible;
  }
